@import '../../scss/variables';

.sliderWrapper {
  background-color: $main;
}

.container {
  width: calc(100vw - 100px);
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  

  .arrowContainer {
    position: absolute;
    width: 10%;
    height: 20%;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    z-index: 2;


    img {
      max-width: 128px;
      width: 10vw;
      opacity: 0.3;
    }
  }

  .wrapper {
    display: flex;
    transition: all 1.5s ease-in-out;
    position: relative;

    .btnSlide {
      background-color: $orange ;
      border-radius: 4px;
      border: none;
      position: absolute;
      top: 70%;
      left: 15%;
      padding: 10px 15px;
      font-size: 15px;
      font-weight: 700;
      color: $black;
      cursor: pointer;
    }

    .imgContainer {
      position: relative;
    }
  }
}


